<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body style="background-color: aquamarine;" >
    @Html.AntiForgeryToken()
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:red;">
        <div class="container" style="display:flex; justify-content:space-evenly">
            <div class="navbar-header">
                @Html.ActionLink("InForno", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">  
                    <li>@Html.ActionLink("Login", "Login", "Login", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <a>@Html.ActionLink("Area Riservata", "Index", "")</a>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
